# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.md text
*.prisma text
*.py text
*.txt text
*.yml text
*.yaml text

# Denote all files that are binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary







